name: Build docs and check links
on: [push, pull_request]
env:
  SPHINX: uv run --locked sphinx-build -W --keep-going --color
  UV_PYTHON_DOWNLOADS: never
jobs:
  docs-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Install pandoc
        run: |
          sudo apt-get install --no-install-recommends pandoc
      - name: Clone Git repository (no submodules, without depth limitation)
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Build HTML
        run: |
          $SPHINX -d _build/doctrees/ doc/ _build/html/ -b html
      - name: Check links
        run: |
          $SPHINX -d _build/doctrees/ doc/ _build/linkcheck/ -b linkcheck
      - name: Upload linkcheck results
        uses: actions/upload-artifact@v6
        if: ${{ success() || failure() }}
        with:
          name: linkcheck
          path: _build/linkcheck/output.*
