name: Build docs and check links
on: [push, pull_request]
jobs:
  docs-linkcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Install pandoc
        run: |
          sudo apt-get install --no-install-recommends pandoc
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Double-check Python version
        run: |
          python --version
      - name: Clone Git repository (without depth limitation)
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install dependencies
        run: |
          python -m pip install -r doc/requirements.txt
      - name: Build HTML
        run: |
          python -m sphinx -W --keep-going --color -d _build/doctrees/ doc/ _build/html/ -b html
      - name: Check links
        run: |
          python -m sphinx -W --keep-going --color -d _build/doctrees/ doc/ _build/linkcheck/ -b linkcheck
      - name: Upload linkcheck results
        uses: actions/upload-artifact@v2
        if: ${{ success() || failure() }}
        with:
          name: linkcheck
          path: _build/linkcheck/output.*
